body{
    font-family: 'Bowlby One SC';
    background-color: #456477;
    margin: 0px;
    padding: 0px;
}

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%23273036" fill-opacity="1" d="M0,192L6.7,186.7C13.3,181,27,171,40,181.3C53.3,192,67,224,80,229.3C93.3,235,107,213,120,208C133.3,203,147,213,160,197.3C173.3,181,187,139,200,128C213.3,117,227,139,240,170.7C253.3,203,267,245,280,240C293.3,235,307,181,320,160C333.3,139,347,149,360,133.3C373.3,117,387,75,400,90.7C413.3,107,427,181,440,208C453.3,235,467,213,480,224C493.3,235,507,277,520,288C533.3,299,547,277,560,256C573.3,235,587,213,600,208C613.3,203,627,213,640,218.7C653.3,224,667,224,680,218.7C693.3,213,707,203,720,176C733.3,149,747,107,760,106.7C773.3,107,787,149,800,192C813.3,235,827,277,840,277.3C853.3,277,867,235,880,208C893.3,181,907,171,920,181.3C933.3,192,947,224,960,202.7C973.3,181,987,107,1000,117.3C1013.3,128,1027,224,1040,234.7C1053.3,245,1067,171,1080,138.7C1093.3,107,1107,117,1120,154.7C1133.3,192,1147,256,1160,288C1173.3,320,1187,320,1200,288C1213.3,256,1227,192,1240,181.3C1253.3,171,1267,213,1280,234.7C1293.3,256,1307,256,1320,229.3C1333.3,203,1347,149,1360,106.7C1373.3,64,1387,32,1400,58.7C1413.3,85,1427,171,1433,213.3L1440,256L1440,0L1433.3,0C1426.7,0,1413,0,1400,0C1386.7,0,1373,0,1360,0C1346.7,0,1333,0,1320,0C1306.7,0,1293,0,1280,0C1266.7,0,1253,0,1240,0C1226.7,0,1213,0,1200,0C1186.7,0,1173,0,1160,0C1146.7,0,1133,0,1120,0C1106.7,0,1093,0,1080,0C1066.7,0,1053,0,1040,0C1026.7,0,1013,0,1000,0C986.7,0,973,0,960,0C946.7,0,933,0,920,0C906.7,0,893,0,880,0C866.7,0,853,0,840,0C826.7,0,813,0,800,0C786.7,0,773,0,760,0C746.7,0,733,0,720,0C706.7,0,693,0,680,0C666.7,0,653,0,640,0C626.7,0,613,0,600,0C586.7,0,573,0,560,0C546.7,0,533,0,520,0C506.7,0,493,0,480,0C466.7,0,453,0,440,0C426.7,0,413,0,400,0C386.7,0,373,0,360,0C346.7,0,333,0,320,0C306.7,0,293,0,280,0C266.7,0,253,0,240,0C226.7,0,213,0,200,0C186.7,0,173,0,160,0C146.7,0,133,0,120,0C106.7,0,93,0,80,0C66.7,0,53,0,40,0C26.7,0,13,0,7,0L0,0Z"%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contenedor{
    width: 300px;
    margin: 50px auto;
    text-align: center;
    padding: 25px;
    background-color: #cecece;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.contenedor div{
    margin-bottom: 30px;
}

input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Bowlby One SC';
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#enviarA:enabled{
    background-color: #6826a5;
    color: white;
    transition: transform 0.3s ease;
}

#enviarA:hover:enabled{
    transform: scale(1.15);
}

#enviarB:enabled{
    background-color: #6826a5;
    color: white;
    transition: transform 0.3s ease;
}

#enviarB:hover:enabled{
    transform: scale(1.15);
}